<div class="container">
    <div class="col-md-12 col-lg-12">

        <article class="post vt-post" *ngFor="let post of posts">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                    <div class="post-type post-img">
                        <a href="#">{{ post.id }}</a>
                    </div>
                    <div class="author-info author-info-2">
                        <ul class="list-inline">
                            <li>
                                <div class="info">
                                    <p>User ID: <strong>{{ post.userId}}</strong></p>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <p>No of posts: <strong>10</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <div class="caption">
                        <h3 class="md-heading"><a href="#">{{ post.title }}</a></h3>
                        <p> {{ post.body }}</p>
                        <button mat-raised-button (click)="openModal(post.id)">View Comments</button>
                        <!-- <a class="btn btn-default" href="#" role="button" (click)="openModal()">View Comments</a>  -->
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>


